@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');

* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: #583ea111;
    font-family: 'Oswald';
    font-size: larger;
}

header {
    background-image: linear-gradient(to bottom), #b89ad3, #a2dfd9;
    min-height: 150px;
    text-align: center;
    padding-top: 30px;
}

header > p {
    font: normal 600 1.3em 'Oswald';
    max-width: 400px;
    margin: auto;
    color: #4b3588;
}

nav {
    background-color: #583ea111;
    padding: 10px;
    box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.24);
    text-align: center;
}

nav > a {
    color: #583ea1;
    padding: 10px;
    text-decoration: none;
    font: normal bold 1em 'Oswald';
    transition-duration: .5s;
}

a:hover {
    background-color: #583ea167;
    border-radius: 5px 5px 0px 0px;
}

main {
    min-width: 300px;
    max-width: 800px;
    margin: auto;
    margin-bottom: 30px;
    border-radius: 0px 0px 5px 5px;
    background-color: #d5b3f31c;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.267);
}

main img {
    /* float: left; */
    margin: 5px 15px 5px 5px;
    border-radius: 10px;
    align-items: top left;
}

main > a {
    color: #583ea1;
    padding: 1px;
    margin: 0px;
    text-decoration: none;
    font: normal bold 1em 'Oswald';
    transition-duration: .5s;
    vertical-align: top;
}

main > p {
    vertical-align: middle;
    padding: 10px;
    padding-left: 10px;
    font-weight: 400;
}


footer {
    background-color: #4b35881f;
    color: white;
    text-align: center;
    padding: 15px;
}
